<p>Olá, {{ name }}!</p>
<p>Por favor, clique no link abaixo para resetar sua senha:</p>
<p>
    <a href="{{ url }}">Resetar</a>
</p>

<p>Se você não solicitou alteração na sua senha, apenas ignore o email.</p>
